.topMovieCover {
  width: 30%;
  height: 100%;
}
.topMovieCoverDiv {
  width: 30%;
  height: auto;
}
.topMovieCoverData {
  width: 70%;
  float: right;
}
.topMovieDiv {
  height: auto;
  float: left;
  align-items: center;
  display: flex;
  border-bottom: 7px solid #213547;
}
