.p-menu {
  height: 70vh;
  width: 12vw;
}
@media (max-width: 600px) {
  .p-menu {
    height: 100%;
    width: 20vw;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .p-menu {
    height: 65vh;
    width: 20vw;
  }
}
@media (min-width: 1025px) {
  .p-menu {
    height: 70vh;
    width: 12vw;
  }
}
