@import "./_reset.css";
@import "./_variables.css";
@import "./_typography.css";

/* Prime React styles */

.p-button {
  background: var(--primary-green);
  color: var(--color-text-primary);
}

.p-sidebar {
  background: var(--secondary-pink);
  border: 1px solid var(--primary-green);
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  background: var(--primary-green);
  border: 1px solid var(--dark-green);
}

.p-accordion .p-accordion-content {
  background: var(--secondary-pink);
  border: none;
}

.p-chip {
  background-color: var(--primary-green);
}

.p-datepicker {
  background: var(--secondary-pink);
  border: 1px solid var(--primary-green);
}

.p-datepicker .p-datepicker-header {
  background: var(--primary-green);
  border-bottom: none;
}

.p-inputgroup-addon {
  background: var(--primary-green);
  border-top: 1px solid var(--primary-green);
  border-left: 1px solid var(--primary-green);
  border-bottom: 1px solid var(--primary-green);
}

.p-inputtext {
  background: var(--secondary-pink);
  border: 1px solid var(--primary-green);
}
.p-dialog {
  border: 1px solid var(--dark-green);
}

.p-dialog .p-dialog-header {
  background: var(--primary-green);
}
.p-dialog .p-dialog-content {
  padding: 2rem;
  background: var(--secondary-pink);
}

.p-menu {
  height: 70vh;
  width: 12vw;
  background: transparent;
  border: transparent;
}
@media (max-width: 1024px) {
  .p-menu {
    height: 65vh;
    width: 15vw;
  }
}
@media (min-width: 1025px) {
  .p-menu {
    height: 70vh;
    width: 10vw;
  }
}

.p-menuitem-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.seed {
  border-radius: 85% 55% 55% 85%;
  min-width: 6vw;
  width: auto;
  height: 4vh;
  text-align: center;
  line-height: 4vh;
  transition: all 0.3s ease;
  padding: 0 0.5rem;
  display: inline-block;
  background-image: url("../assets/seed.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 5%;
  margin-bottom: 5%;
}

.seed:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* Common classes */
.pageContent {
  height: 90%;
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logoBar {
  height: 10%;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  top: 4%;
  left: 50%;
  width: 30%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.melonStyleContainerFruit {
  background-color: var(--secondary-pink);
}

.melonStyleContainerPeel {
  background-color: var(--primary-green);
}
