.topMoviesSection {
  height: 100%;
  float: left;
  align-items: center;
  display: flex;
}

.bucketSpace {
  height: 100%;
  width: 100%;
}
.bucket {
  height: 60%;
  width: auto;
  animation-name: bucket;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  position: absolute;
  margin: auto;
  top: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
}
@keyframes bucket {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0deg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.userMenu {
  height: 100%;
  align-items: center;
  display: flex;
  float: right;
}
