#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.background-img {
  background-image: url("assets/background.gif");
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.classExample {
  width: 75rem;
}

.userRow {
  display: inline-block;
}
.userRow,
span {
  margin: 0 5px;
}
.logoBar {
  height: 10%;
  background-image: url("assets/LOGOMELONPLACEHOLDER.gif");
  background-repeat: no-repeat;
  background-position: center;
}
.pageContent {
  height: 90%;
  display: flex;
}
.topMovies {
  height: 100%;
  float: left;
  align-items: center;
  display: flex;
}
.bucketSpace {
  height: 100%;
  width: 100%;
}
.bucket {
  height: 70%;
  width: auto;
  align-items: center;
  animation-name: bucket;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes bucket {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0deg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}
.userMenu {
  height: 100%;
  float: right;
}

