#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.background-img {
  background-image: url("assets/background.gif");
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.classExample {
  width: 75rem;
}

.userRow {
  display: inline-block;
}
.userRow,
span {
  margin: 0 5px;
}
.logoBar {
  height: 10%;
  background-image: url("assets/LOGOMELONPLACEHOLDER.gif");
  background-repeat: no-repeat;
  background-position: center;
}
.pageContent {
  height: 90%;
  background-color: #535bf2;
  display: flex;
}
.topMovies {
  height: 100%;
  float: left;
  background-color: #213547;
  align-items: center;
  display: flex;
}
.bucketSpace {
  height: 100%;
  width: 100%;
  background-color: brown;
}
.userMenu {
  height: 100%;
  float: right;
  background-color: blueviolet;
}